.body {

}

.nav-item {
 position: relative;
 bottom: 200px;
}

.allRows {
    position: relative;
    left: 150px;
}
.hour {
    position:relative;
    left:180px;
}
.card {
position:relative;
bottom:60px;
left:30px;
}
#top {
    position: relative;
    left:90px;
}