.nav-item {
    position: relative;
    bottom: 200px;
   }
   .allRows {
       position: relative;
       left: 150px;
   }
   .hour {
       position:relative;
       left:180px;
   }
   .card {
   position:relative;
   left:30px;
   }
   #top {
       position: relative;
       left:90px;
   }
   
   #iframe {
        position: relative;
        top: 56px;
        left: 300px;
   }

.topnav {
    background-color: rgb(160, 7, 7);
    overflow: hidden;
  }

.topnav a {
    float: right;
    color: #dab5b5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


  